body{
    color: black;
    background-color: gray;
}
h1{
    text-align: center;
}
.video {
    display: flex;
    justify-content: center;
    padding: 2%;
}
p{
    text-align: center;
}
.imagen{
    display: flex;
    justify-content: center;
    padding: 2%;
}
.referencia {
    margin-bottom: 100px;
    color: aliceblue;
    font-weight: 600 ;
    
}
.LOGO{
    margin-left: 20px;
}
.navegacion{
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.LINK{
    margin-left: 20px;
    cursor: pointer;
    text-align: right;
}
.cabecera{
    margin: 10px;
}